$estilobtn:(  
      espacio:5px,
      colordefondo:$colorboton,
      radioboton: 5px,
      colorletra:$colorletraboton,
      margen:10px,
      
);
@mixin botonmedida($anchoportada,$largoportada) {
    width: $largoportada;
    height: $anchoportada;
    
}

.btn{
    padding:map-get($estilobtn , espacio);
    color:map-get($estilobtn , colorletra);
    border-radius:map-get($estilobtn , radioboton);
    background-color: map-get($estilobtn , colordefondo );
    @include botonmedida(40px,150px);
    margin: map-get($estilobtn ,margen);


}


.btnproductos{
    @extend .btn;
    height:60px;
    width: 200px;
    font-size: medium;

}


