
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto 60px;
    grid-template-areas: "navbar navbar navbar navbar"
                         "header header header header"
                         "main main main main"
                         "footer footer footer footer" ;


}