.header{
    grid-area:header;
}

.cajaPortada{
   background-image: $fondoportada;
   background-size:cover;
   background-repeat: no-repeat;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   height: 200px;

   h1{
    font-size: 60px;
   }

       
}    



.main{
    grid-area:main;
}

.Novedades{
  
    text-align: center;
    color:rgb(78, 0, 114);
    font-style: oblique;
    background-color:$colordefondo;
    h2{
  
        font-size: 40px;
        padding-top: 20px;
    }
    h3{
  
        color:$colordeletra;
    }
}





.tarjetasnovedades{
    display: flex;
    flex-direction: column; /*hace que las imagenes esten una abajo de la otra*/
    align-items: center;
    justify-content: center;
    background-color:$colordefondo;
    padding-top:30px;
    padding-block-end: 30px;
    .tarjetaNovedad1{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(78, 0, 114);
        margin: 30px;
        .tarjetaNovedad1_img{
            width: 90%;
            text-align: center;
            margin: 20px;
        }
        .tarjetaNovedad1_titulo{
            text-align: center;
            font-size: 20px;
            margin: 10px;
        }


    }
    .tarjetaNovedad2{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(78, 0, 114);
        margin: 30px;
        .tarjetaNovedad2_img{
            width: 90%;
            text-align: center;
            margin: 20px;
        }
        
        .tarjetaNovedad2_titulo{
            text-align: center;
            font-size: 20px;
            margin: 10px;
        }
         
        
    }
    
    

}










