.headerproductos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colordefondo;
    h1{
        background-image: $fondoportada;
        background-size:contain;
        text-align: center;
        width: 100%;
        height: 200px;
        font-size: 60px;
        font-style: oblique;
        padding-top: 20%;
    
    
    
    }

}

.Productos{


    text-align:left;
    font-size: 18px;
    color:$colordeletra ;
    padding-top: 5%;
    padding-left: 5%;
    background-color: $colordefondo;
    height: 100px;


}

.Productos2{

    text-align:left;
    font-size: 18px;
    color:$colordeletra ;
    padding-top: 5%;
    padding-left: 5%;
    background-color: $colordefondo;


}



.productoscuadros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:$colordefondo;

}



.productosvarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $colordefondo;

}

.cuadro1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 2px solid rgb(78, 0, 114);
    img{    width: 50%;
        height: 50% ;}
    
     h4{    text-align: center;
            font-size: 20px;
            color:$colordeletra ;
            padding: 5%;
        }

    p {    text-align: center;
        font-size: 15px;
        color:$colordeletra;
        padding: 5%;
    } 

}




.cuadro2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 2px solid rgb(78, 0, 114);

    img{    width: 50%;
        height: 50% ;}

    h4{    text-align: center;
            font-size: 20px;
            color:$colordeletra;
            padding: 5%;}

    p {    text-align: center;
        font-size: 15px;
        color:$colordeletra;
        padding: 5%;
    } 
}




.varios1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 2px solid rgb(78, 0, 114);
    img{    width: 50%;
        height: 50% ;}
    h4{    text-align: center;
        font-size: 20px;
        color:rgb(78, 0, 114) ;
        padding: 5%;
        }
    p {    text-align: center;
        font-size: 15px;
        color:$colordeletra;
        padding: 5%;} 

}

.varios2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 2px solid rgb(78, 0, 114);

    img{    width: 50%;
        height: 50% ;
    }

    h4{    text-align: center;
        font-size: 20px;
        color:$colordeletra;
        padding: 5%;
        }

    p{    text-align: center;
        font-size: 15px;
        color:$colordeletra;
        padding: 5%;}    
}








