@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/* seccion import*/
.btn, .btnproductos {
  padding: 5px;
  color: #eae0eb;
  border-radius: 5px;
  background-color: #530c57;
  width: 150px;
  height: 40px;
  margin: 10px; }

.btnproductos {
  height: 60px;
  width: 200px;
  font-size: medium; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto 60px;
  grid-template-areas: "navbar navbar navbar navbar" "header header header header" "main main main main" "footer footer footer footer"; }

.navbar {
  grid-area: navbar;
  background-color: #edeccb;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  .navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .navbar ul li {
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      font-size: x-large; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .logo img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px; }

.redes {
  display: flex;
  flex-direction: column;
  margin-right: 10px; }
  .redes img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: inline-block;
    margin-top: 15px; }

.header {
  grid-area: header; }

.cajaPortada {
  background-image: url(../img/chiupportadadiseño.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 200px; }
  .cajaPortada h1 {
    font-size: 60px; }

.main {
  grid-area: main; }

.Novedades {
  text-align: center;
  color: #4e0072;
  font-style: oblique;
  background-color: #edeccb; }
  .Novedades h2 {
    font-size: 40px;
    padding-top: 20px; }
  .Novedades h3 {
    color: black; }

.tarjetasnovedades {
  display: flex;
  flex-direction: column;
  /*hace que las imagenes esten una abajo de la otra*/
  align-items: center;
  justify-content: center;
  background-color: #edeccb;
  padding-top: 30px;
  padding-block-end: 30px; }
  .tarjetasnovedades .tarjetaNovedad1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4e0072;
    margin: 30px; }
    .tarjetasnovedades .tarjetaNovedad1 .tarjetaNovedad1_img {
      width: 90%;
      text-align: center;
      margin: 20px; }
    .tarjetasnovedades .tarjetaNovedad1 .tarjetaNovedad1_titulo {
      text-align: center;
      font-size: 20px;
      margin: 10px; }
  .tarjetasnovedades .tarjetaNovedad2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #4e0072;
    margin: 30px; }
    .tarjetasnovedades .tarjetaNovedad2 .tarjetaNovedad2_img {
      width: 90%;
      text-align: center;
      margin: 20px; }
    .tarjetasnovedades .tarjetaNovedad2 .tarjetaNovedad2_titulo {
      text-align: center;
      font-size: 20px;
      margin: 10px; }

.headernosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edeccb;
  padding-top: 20%;
  height: 200px; }
  .headernosotros h1 {
    background-image: url(../img/chiupportadadiseño.png);
    background-size: contain;
    width: 100%;
    height: 100px;
    text-align: center;
    font-style: oblique;
    font-size: 30px;
    padding-top: 20px; }

.mainnosotros {
  background-color: #edeccb;
  background-size: contain;
  width: 100%;
  justify-content: center; }
  .mainnosotros p {
    font-size: 12px;
    padding: 100px 80px 80px 80px;
    text-align: center;
    background-color: #edeccb; }
  .mainnosotros .imagennosotros {
    margin-top: 20px;
    margin-block-end: 20px;
    padding-right: 20px; }

/* este parrafo no sabia como agregarlo dentro del mainnosotros, de todos modos no me toma el estilo que le ponog. No encuentro el error*/
.parrafo {
  margin: 0%;
  font-size: 15px;
  padding-block-end: 200px;
  text-align: center; }

.headercontacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(../img/chiupportadadiseño.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px; }

.infocontacto {
  display: flex;
  flex-direction: column;
  background-color: #edeccb;
  align-items: center;
  justify-content: center;
  padding: 50px; }
  .infocontacto h4 {
    text-align: center;
    font-size: 15px;
    padding: 20px; }

.headermayorista {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #edeccb;
  height: 200px;
  padding-top: 50px; }
  .headermayorista h1 {
    background-image: url(../img/chiupportadadiseño.png);
    background-size: contain;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-style: oblique;
    padding-top: 20px; }

.Bloquecondiciones {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #edeccb;
  padding-top: 20px; }
  .Bloquecondiciones h4 {
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    padding: 50px;
    color: black; }
  .Bloquecondiciones h6 {
    text-align: center;
    font-size: 15px;
    font-style: oblique;
    padding: 20px; }
  .Bloquecondiciones .Bloquecondiciones_acepto {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    font-style: oblique;
    padding: 10px; }

.bloqueeleccion {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #edeccb; }
  .bloqueeleccion h4 {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    font-style: oblique;
    padding: 20px;
    color: black; }
  .bloqueeleccion .bloqueeleccionTituloProductos {
    text-align: center;
    font-size: 18px;
    margin: 10px; }
  .bloqueeleccion .bloqueeleccionTituloCantidades {
    text-align: center;
    font-size: 18x;
    margin: 10px; }
  .bloqueeleccion .bloqueeleccion_email {
    text-align: center;
    font-size: 13px;
    margin: 10px; }

.headerproductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edeccb; }
  .headerproductos h1 {
    background-image: url(../img/chiupportadadiseño.png);
    background-size: contain;
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 60px;
    font-style: oblique;
    padding-top: 20%; }

.Productos {
  text-align: left;
  font-size: 18px;
  color: black;
  padding-top: 5%;
  padding-left: 5%;
  background-color: #edeccb;
  height: 100px; }

.Productos2 {
  text-align: left;
  font-size: 18px;
  color: black;
  padding-top: 5%;
  padding-left: 5%;
  background-color: #edeccb; }

.productoscuadros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edeccb; }

.productosvarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edeccb; }

.cuadro1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 2px solid #4e0072; }
  .cuadro1 img {
    width: 50%;
    height: 50%; }
  .cuadro1 h4 {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5%; }
  .cuadro1 p {
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 5%; }

.cuadro2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 2px solid #4e0072; }
  .cuadro2 img {
    width: 50%;
    height: 50%; }
  .cuadro2 h4 {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5%; }
  .cuadro2 p {
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 5%; }

.varios1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 2px solid #4e0072; }
  .varios1 img {
    width: 50%;
    height: 50%; }
  .varios1 h4 {
    text-align: center;
    font-size: 20px;
    color: #4e0072;
    padding: 5%; }
  .varios1 p {
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 5%; }

.varios2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 2px solid #4e0072; }
  .varios2 img {
    width: 50%;
    height: 50%; }
  .varios2 h4 {
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5%; }
  .varios2 p {
    text-align: center;
    font-size: 15px;
    color: black;
    padding: 5%; }

.footer {
  grid-area: footer; }

.piedepagina {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/chiupportadadiseño.png);
  height: 60px; }

.redesPiedepagina img {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.Saludos {
  font-style: oblique;
  font-size: 10px;
  margin-left: 10px; }

/*---------------------------------------------- TODO PARA ESCRITORIO----------------------------------------------------------*/
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto 60px;
    grid-template-areas: "navbar navbar navbar navbar" "header header header header" "main main main main" "footer footer footer footer"; }
  .navbar {
    grid-area: navbar;
    background-color: #edeccb;
    z-index: 20;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .navbar ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .navbar ul li {
        display: inline-block;
        padding: 10px;
        font-size: 20px;
        font-size: x-large; }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .logo img {
      width: 40px;
      height: 40px;
      margin-left: 10px; }
  .redes {
    display: flex;
    flex-direction: row;
    margin-right: 10px; }
    .redes img {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      display: inline-block; }
  /*------------------seccion inicio para escritorio --------------------*/
  .cajaPortada {
    background-image: url(../img/chiupportadadiseño.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 200px; }
  .tarjetasnovedades {
    display: flex;
    flex-direction: row;
    /*hace que las imagenes esten una al lado de la otra*/
    align-items: center;
    justify-content: center;
    background-color: #edeccb;
    padding-top: 30px;
    padding-block-end: 30px; }
    .tarjetasnovedades .tarjetaNovedad1 {
      display: flex;
      flex-direction: column;
      width: 70%;
      align-items: center;
      border: 2px solid #4e0072;
      margin: 30px; }
      .tarjetasnovedades .tarjetaNovedad1 .tarjetaNovedad1_img {
        width: 90%;
        text-align: center;
        margin: 20px; }
      .tarjetasnovedades .tarjetaNovedad1 .tarjetaNovedad1_titulo {
        text-align: center;
        font-size: 20px;
        margin: 10px; }
    .tarjetasnovedades .tarjetaNovedad2 {
      display: flex;
      flex-direction: column;
      width: 70%;
      align-items: center;
      border: 2px solid #4e0072;
      margin: 30px; }
      .tarjetasnovedades .tarjetaNovedad2 .tarjetaNovedad2_img {
        width: 90%;
        text-align: center;
        margin: 20px; }
      .tarjetasnovedades .tarjetaNovedad2 .tarjetaNovedad2_titulo {
        text-align: center;
        font-size: 20px;
        margin: 10px; }
  /*--------------------------pagina NOSOTROS para escritorio------------------------------*/
  .headernosotros {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edeccb; }
    .headernosotros h1 {
      background-image: url(../img/chiupportadadiseño.png);
      background-size: contain;
      width: 100%;
      text-align: center;
      font-style: oblique;
      font-size: 40px;
      height: 200px;
      padding-top: 60px; }
  .mainnosotros {
    background-color: #edeccb;
    background-size: contain;
    width: 100%;
    text-align: center;
    font-style: oblique;
    font-size: 40px; }
    .mainnosotros p {
      font-size: 20px;
      padding: 80px;
      text-align: center;
      background-color: #edeccb; }
    .mainnosotros img {
      margin-top: 20px;
      margin-block-end: 20px; }
  .parrafo {
    font-size: 20px;
    padding-top: 10px;
    padding-block-end: 80px;
    text-align: center;
    font-weight: 600; }
  /*-------------------------------------- pagina CONTACTO para escritrio--------------------------*/
  .headercontacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .headercontacto h1 {
      background-image: url(../img/chiupportadadiseño.png);
      background-size: contain;
      text-align: center;
      width: 100%;
      height: 200px;
      padding-top: 60px;
      font-size: 60px;
      font-style: oblique; }
  .infocontacto {
    display: flex;
    flex-direction: column;
    background-color: #edeccb;
    align-items: center;
    justify-content: center;
    padding: 50px; }
    .infocontacto h4 {
      text-align: center;
      font-size: 20px;
      padding-top: 20px;
      padding-block-end: 50px;
      padding-right: 50px; }
  /*--------------------- pagina PRODUCTOS para escritorio--------------------------*/
  .headerproductos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .headerproductos h1 {
      background-image: url(../img/chiupportadadiseño.png);
      background-size: contain;
      text-align: center;
      width: 100%;
      height: 200px;
      padding-top: 60px;
      font-size: 60px;
      font-style: oblique; }
  .productoscuadros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #edeccb;
    padding: 50px; }
  .productosvarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #edeccb;
    padding: 50px; }
  .cuadro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin: 50px;
    border: 2px solid #4e0072; }
    .cuadro1 img {
      width: 300px;
      height: 300px; }
    .cuadro1 h4 {
      text-align: center;
      font-size: 30px;
      color: #4e0072;
      padding: 5%; }
    .cuadro1 p {
      text-align: center;
      font-size: 15px;
      color: black;
      padding: 5%; }
  .cuadro2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin: 50px;
    border: 2px solid #4e0072; }
    .cuadro2 img {
      width: 300px;
      height: 300px; }
    .cuadro2 h4 {
      text-align: center;
      font-size: 30px;
      color: #4e0072;
      padding: 5%; }
    .cuadro2 p {
      text-align: center;
      font-size: 15px;
      color: black;
      padding: 5%; }
  .varios1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin: 50px;
    border: 2px solid #4e0072; }
    .varios1 img {
      width: 300px;
      height: 300px; }
    .varios1 h4 {
      text-align: center;
      font-size: 30px;
      color: black;
      padding: 5%; }
    .varios1 p {
      text-align: center;
      font-size: 15px;
      color: black;
      padding: 5%; }
  .varios2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    margin: 50px;
    border: 2px solid #4e0072; }
    .varios2 img {
      width: 300px;
      height: 300px; }
    .varios2 h4 {
      text-align: center;
      font-size: 30px;
      color: black;
      padding: 5%; }
    .varios2 p {
      text-align: center;
      font-size: 15px;
      color: black;
      padding: 5%; }
  .Productos {
    text-align: left;
    font-size: 18px;
    color: #4e0072;
    padding-top: 5%;
    padding-left: 5%;
    background-color: #edeccb;
    height: 100px; }
  .Productos2 {
    text-align: left;
    font-size: 18px;
    color: #4e0072;
    padding-top: 5%;
    padding-left: 5%;
    background-color: #edeccb; }
  /*------------------------------------------ MAYORISTA PARA ESCRITORIO--------------------------------*/
  .Bloquecondiciones {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #edeccb;
    height: 300px;
    border: 2px solid #4e0072; }
    .Bloquecondiciones h4 {
      text-align: center;
      font-size: 25px;
      font-style: oblique;
      color: black; }
    .Bloquecondiciones h6 {
      text-align: center;
      font-size: 10px;
      font-style: oblique;
      padding: 20px; }
    .Bloquecondiciones .Bloquecondiciones_acepto {
      text-align: center;
      font-weight: 900;
      font-size: 25px;
      font-style: oblique;
      padding: 20px; }
  .bloqueeleccion {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #edeccb;
    height: 400px; }
    .bloqueeleccion h4 {
      text-align: center;
      font-weight: 900;
      font-size: 20px;
      font-style: oblique;
      color: black; }
    .bloqueeleccion .bloqueeleccionTituloProductos {
      text-align: center;
      font-size: 25px;
      margin: 10px; }
    .bloqueeleccion .bloqueeleccionTituloCantidades {
      text-align: center;
      font-size: 20px;
      margin: 10px; }
    .bloqueeleccion .bloqueeleccion_email {
      text-align: center;
      font-size: 10x;
      margin: 10px; }
  .headermayorista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edeccb; }
    .headermayorista h1 {
      background-image: url(../img/chiupportadadiseño.png);
      background-size: contain;
      text-align: center;
      width: 100%;
      font-size: 60px;
      font-style: oblique; } }
